.git
.github
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.production
docker-compose*.yml
Dockerfile
deploy.sh
.dockerignore
.editorconfig
.styleci.yml
phpunit.xml
*.md
.idea
.vscode
